---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
const blogEntries = await getCollection("posts");
---

<Layout title="Welcome to Astro.">
  <div class="prose lg:prose-xl mx-auto py-8">
    <h1>Sudhir Mitharwal</h1>
    <p>Sharing my experience and thoughts.</p>
    <ol>
      {
        blogEntries.map((blogPostEntry) => (
          <li>
            <a href={`/posts/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
          </li>
        ))
      }
    </ol>
  </div>
</Layout>
