---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
let blogEntries = await getCollection("posts");
blogEntries = blogEntries.sort((a, b) => a.data.date > b.data.date ? -1 : 1)
---

<Layout title="Portfolio Website of Sudhir M">
  <div class="prose lg:prose-xl mx-auto py-8 px-4">
    <h1>Sudhir Mitharwal</h1>
    <p>Sharing my experience and thoughts.</p>
    <ol>
      {
        blogEntries.map((blogPostEntry) => (
          <li>
            <a href={`/posts/${blogPostEntry.slug}`} data-astro-prefetch>
              {blogPostEntry.data.title}
            </a>
          </li>
        ))
      }
    </ol>
  </div>
</Layout>
