---
interface Props {
  title: string;
}

import Layout from "../layouts/Layout.astro";
const { title } = Astro.props;
---

<Layout title={title + " | Sudhir's Post"}>
  <article class="prose lg:prose-xl mx-auto py-8 px-4">
    <p><a href="/">All Posts</a></p>
    <slot />
  </article>
</Layout>
